<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">Nations App</span>
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/countries" routerLinkActive="active">Countries</a>
      <a class="nav-link" routerLink="/stats" routerLinkActive="active">Top GDP Ratio</a>
      <a class="nav-link" routerLink="/explorer" routerLinkActive="active">Explorer</a>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
